---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nabvar from '../components/Nabvar.astro';
---

<Layout title="TESIS CLOUD">
  <!-- El menú de navegación está dentro del header -->
   <Nabvar/>


  <!-- El contenido principal está dentro de main -->
  <main class="bg-green-800 bg-cover bg-center" style="background-image: url('/img/img2.jpg');">
    <!-- Sección Inicio -->
    <section id="home" class="flex items-center justify-center min-h-screen p-8">
      <div class="p-8 bg-white rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold text-center text-blue-600">Bienvenido a Tesis Cloud</h1>
        <p class="mt-4 text-center text-gray-700">Sube, comparte y explora tesis en línea con facilidad.</p>
        <div class="mt-6 text-center">
          <button 
            class="px-4 py-2 font-semibold text-white bg-blue-500 rounded hover:bg-blue-600"
            onclick="window.location.href='/ruta-destino';">
            Comenzar
          </button>
        </div>
      </div>
    </section>
    
    <!-- Sección Acerca de -->

  </main>
</Layout>
