
<footer>
    <section id="about" class="py-8 bg-gray-100">
        <div class="container mx-auto px-4">
          <h2 class="text-2xl font-bold text-center text-blue-600">Acerca de</h2>
          <p class="mt-4 text-center text-gray-700">Las tesis son trabajos académicos que se elaboran generalmente al final de un programa de estudios universitarios avanzados, como una maestría o un doctorado. Estas investigaciones suelen ser extensas y detalladas, y están destinadas a demostrar la capacidad del estudiante para llevar a cabo una investigación original y significativa en su campo de estudio. Aquí tienes una visión general sobre las tesis:.</p>
        </div>
      </section>
      
      <!-- Sección Servicios -->
      <section id="services" class="py-8">
        <div class="container mx-auto px-4">
          <h2 class="text-2xl font-bold text-center text-blue-600">Servicios</h2>
          <p class="mt-4 text-center text-gray-700">Servicios ofrecidos por Tesis Cloud.</p>
        </div>
      </section>
      
      <!-- Sección Contacto -->
      <section id="contact" class="py-8 bg-gray-100">
        <div class="container mx-auto px-4">
          <h2 class="text-2xl font-bold text-center text-blue-600">Contacto</h2>
          <p class="mt-4 text-center text-gray-700">Cómo contactarnos.</p>
        </div>
      </section>

</footer>

