<header class="bg-blue-600 p-4">
    <nav class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-white text-xl font-bold">TESIS CLOUD</a>
      <ul class="flex space-x-4">
        <li><a href="/home" class="text-white hover:text-gray-300">Inicio</a></li>
        <li><a href="#about" class="text-white hover:text-gray-300">Acerca de</a></li>
        <li><a href="#services" class="text-white hover:text-gray-300">Servicios</a></li>
        <li><a href="#contact" class="text-white hover:text-gray-300">Contacto</a></li>
      </ul>
    </nav>
  </header>
  